---
layout: default
---

<section id="cover">
    {% include home/cover.html %}
</section>

<section id="our-story">
    {% include home/our-story.html %}
    {% include home/countdown.html %}
</section>

<section id="people">
    {% include home/people.html %}
</section>

<section id="venue">
    {% include home/venue.html %}
</section>

<section id="gallery">
    {% include home/gallery.html %}
</section>

<section id="rsvp">
    {% include home/rsvp.html %}
</section>

<section id="gift-registration">
    {% include home/gift-registration.html %}
</section>





