<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" id="icon-transition" class="navbar-toggle toggle-menu menu-right" data-toggle="collapse" data-target="#navbar-right-collapse">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand hidden-lg" href="#">
                <img class="brand-logo" src="/img/brand-logo.png"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-right-collapse">
            <ul class="nav navbar-nav">
                {% for navbarMenu in site.data.navbar %}
                <li class="navbar-menu">
                    <a class="menu" href="#{{ navbarMenu.url }}"> {{ navbarMenu.name | upcase }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
