.clock-item .inner {
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.clock-canvas {
    border-radius: 50%;
    height: 0px;
    padding-bottom: 100%;
}
.text {
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    text-align: center;
    letter-spacing: 2px;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); */
    width: 100%;
}
.text .val {
    font-size: $font-size-h1;
}
.text .type-time {
    font-size: 14px;
}
 @media (min-width: 768px) and (max-width: 991px) {
    .clock-item {
    margin-bottom: 30px;
    }
}