<div id="countdown" class="container-fluid no-gutter">
    <div class="left-section">
        <div class="section-caption">
            <span class="content-text">COUNTDOWN TO</span>
            <hr class="content-spacer"/>
            <span class="content-header"> JOHN & SARA</span>
            <hr class="content-spacer"/>
            <span class="content-text">WEDDING CEREMONY</span>

        </div>
    </div>
    <div class="right-section">
        <!--CLOCK SIZE CONFIGURATION-->
        <div class="clock content-container clearfix">
            <!-- days -->
            <div class="clock-item clock-days countdown-time-value col-md-3 col-sm-3 col-xs-12 ">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-days" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-days type-time">DAYS</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- hours -->

            <div class="clock-item clock-hours countdown-time-value col-md-3 col-sm-3 col-xs-12 ">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-hours" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-hours type-time">HOURS</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- minutes -->
            <div class="clock-item clock-minutes countdown-time-value col-md-3 col-sm-3 col-xs-12 ">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-minutes" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-minutes type-time">MINUTES</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- seconds -->
            <div class="clock-item clock-seconds countdown-time-value col-md-3 col-sm-3 col-xs-12 ">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-seconds" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-seconds type-time">SECONDS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
