
<div class="container-fluid no-gutter">
    <div class="bg-overlay"></div>
    <div class="intro-text-container">
        <h4 class="intro-text stylized">The Wedding Celebration of</h4>
        <div class="intro-header">
            <div class="container">
                <div class="intro-text-caption">
                    <div class="left-section">
                        <span class="couple-name">JOHN</span>
                    </div>
                    <div class="middle-section">
                        <div class="text-center">
                            <i class="text-center pulse fa fa-heart-o"></i>
                        </div>
                    </div>
                    <div class="right-section">
                        <span class="couple-name">SARA</span>
                    </div>
                </div>
                <div class="intro-details">
                    <h3 class="intro-place">Palazzo Verde</h3>
                    <h5 class="intro-date">22 May 2016</h5>
                </div>
                <a href="#our-story" class="text-center intro-button">Save The Date</a>
            </div>
        </div>
    </div>
</div>