<div class="container no-gutter">
    <h3 class="section-header">Gift Registration</h3>
    <hr class="section-spacer"/>
    <div class="content-container">
        <h4 class="section-subtitle">What we want most for our wedding is to have our friends and family there to celebrate the occasion with us. So more than anything we’re simply grateful for your presence! If you would like to get us something, we’d love that too...you can find our registries here:</h4>
        <div class="gift-sponsor-container clearfix">
            <div class="gift-section">
                <a href="https://www.amazon.com/wedding/home" target="_blank">
                    <img class="center-block" src="img/asset/amazon-logo.png"/>
                </a>
            </div>
        </div>
    </div>
</div>