<div class="container no-gutter">
    <div class="col-md-5 col-sm-12 no-gutter section-container left-section">
        <div class="col-md-6 col-sm-12 content-container">
            <img class="center-block img-responsive content-image" src="img/asset/{{ site.our-story.groom-image }}"/>
            <span class="content-name bold-stylized">{{ site.our-story.groom-name }}</span>
            <span class="content-text">THE GROOM</span>
        </div>
        <div class="col-md-6 col-sm-12 content-container">
            <img class="center-block img-responsive content-image" src="img/asset/{{ site.our-story.bride-image }}"/>
            <span class="content-name bold-stylized">{{ site.our-story.bride-name }}</span>
            <span class="content-text">THE BRIDE</span>
        </div>
    </div>
    <div class="col-md-7 col-sm-12 no-gutter section-container right-section">
        <div class="content-container">
            <h3 class="section-header">OUR STORY</h3>
            <hr class="section-spacer"/>
            {{ site.our-story.description1 }}
            {{ site.our-story.description2 }}
        </div>
    </div>
</div>