<div class="container no-gutter">
    <h3 class="section-header">PEOPLE</h3>
    <hr class="section-spacer">
    <div class="col-sm-6 col-xs-12 common-border section-container">
        <h3 class="content-header text-center">Groomsmen</h3>
        {% for groomsmen in site.data.groomsmen %}
        <div class="testimonial col-md-6 col-sm-6 col-xs-6">
            <div class="content-container">
                <img class="content-image" src="img/asset/{{ groomsmen.image }}"/>
                <span class="content-name">{{ groomsmen.name }}</span>
                <span class="content-relation">{{ groomsmen.relation }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-sm-6 col-xs-12 common-border section-container" style="border-right: none;">
        <h3 class="content-header text-center">Bridesmaid</h3>
        {% for bridesmaid in site.data.bridesmaid %}
        <div class="testimonial col-md-6 col-sm-6 col-xs-6">
            <div class="content-container">
                <img class="content-image" src="img/asset/{{ bridesmaid.image }}"/>
                <span class="content-name">{{ bridesmaid.name }}</span>
                <span class="content-relation">{{ bridesmaid.relation }}</span>

            </div>
        </div>
        {% endfor %}
    </div>
</div>