<div class="container no-gutter">
    <h3 class="section-header">Répondez s'il vous plaît</h3>
    <hr class="section-spacer"/>
    <div class="content-container clearfix">
        <script type="text/javascript">var submitted = false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;)"></iframe>

        <form id="form-content" name="" action="https://docs.google.com/a/crux.design/forms/d/e/1FAIpQLScpHtccmlo1H8Z3rOvIOLsn4aeQfsj5rK_JwYiNBrtO8ts-BA/formResponse" class="form-content clearfix" target="hidden_iframe" method="POST" >
            <div class="col-md-6 form-content-item">
                <input autocomplete="off" required type="text" name="entry.1350055067" id="entry.1350055067" value="" size="40" class="form-control" aria-required="true" aria-invalid="false">
                <span class="content-title">FULL NAME</span>
            </div>
            <div class="col-md-6 form-content-item">
                <input autocomplete="off" required type="email" name="entry.1251597571" id="entry.1251597571" value="" size="40" class="form-control" aria-required="true"
                       aria-invalid="false">
                <span class="content-title">EMAIL ADDRESS</span>
            </div>

            <div class="col-md-6 form-content-item">
                <input autocomplete="off" required type="number" name="entry.1152925724" id="entry.1152925724" value="" class="form-control" aria-required="true"
                       aria-invalid="false">
                <span class="content-title">NUMBER OF ATTENDEES</span>
            </div>

            <div class="col-md-6 form-content-item">
                <select required id="entry.786790778" name="entry.786790778" class="menu-select form-control" aria-required="true" aria-invalid="false">
                    <option class="menu-choice" name="entry.786790778" value="">---</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span class="content-title">ARE YOU GOING TO ATTEND?</span>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <button data-toggle="modal" type="submit" id="ss-submit" class="form-control submit-button">I'm Attending</button>
            </div>
        </form>
    </div>
</div>


<!-- modal -->