<div class="container no-gutter">
    <h3 class="section-header">VENUE</h3>
    <hr class="section-spacer"/>

    <div class="col-md-6 col-sm-12 content-container">
        <div class="ceremony-section venue">
            <h2>Ceremony</h2>
            <ul>
                <li><b>Sunday / May - 22 - 2016 / 2:00 pm</b></li>
                <li><b>Palazzo Verde</b></li>
                <li><b>Daang Reyna, Vista City, Las Piñas, Philippines</b></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 content-container center-border">
        <div class="venue-section venue">
            <h2>Reception</h2>
            <ul>
                <li><b>Sunday / May - 22 - 2016 / 3:00 pm</b></li>
                <li><b>Palazzo Verde</b></li>
                <li><b>Daang Reyna, Vista City, Las Piñas, Philippines</b></li>
            </ul>
        </div>
    </div>

</div>